$color-earthborn-bugle: #F7F7F7;
$color-orange: #F28123;
$color-medium-dark-cyan: #007BB5;

.about-me {
	.mw-1200 {
		padding-bottom: 120px;
		padding-top: 120px;

		.tweet-container {
			border-radius: 15px;
			box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
			max-width: 576px;

			.head {
				.profile {
					background-color: $color-medium-dark-cyan;
					border-radius: 50%;
					height: 50px;
					width: 50px;

					img {
						padding: 9px;
					}
				}

				.ellipsis {
					right: 0;
					top: 0;
				}
			}

			.bottom {
				.heart {
					cursor: pointer;

					.heart-icon {
						font-size: 20px;
					}
				}

				.now {
					right: 0;
					top: 5px;
				}
			}
		}
	}
}