$color-earthborn-bugle: #F7F7F7;
$color-dark-cyan-blue: #373D48;

footer {
	.links {
		.fab-wrapper {
			background-color: $color-earthborn-bugle;
			border-radius: 50%;
			font-size: 25px;
			height: 50px;
			transition-duration: 0.4s;
			width: 50px;
		}

		.fab-wrapper:hover {
			color: $color-dark-cyan-blue;
			transform: scale(1.2);
		}
	}

	.copyright {
		a:hover {
			color: $color-earthborn-bugle;
		}
	}
}