$medium-dark-cyan: #007BB5;
$color-earthborn-bugle: #F7F7F7;
$color-orange: #F28123;

.modal {
	.modal-dialog {
		.modal-content {
			.modal-body {
				a:nth-child(1) {
					background-color: $medium-dark-cyan;
				}

				a:nth-child(2) {
					background-color: $color-orange;
				}

				a:nth-child(1):hover,
				a:nth-child(2):hover {
					color: $color-earthborn-bugle;
				}
			}
		}
	}
}