$color-earthborn-bugle: #F7F7F7;
$color-orange: #F28123;

.home {
	height: calc(100vh - 64px);

	.mw-1200 {
		h1 {
			color: $color-orange;
			font-size: 45px;
			font-weight: 900;
			letter-spacing: 2px;
		}

		.btn-container {
			.btn {
				background-color: $color-earthborn-bugle;
				border: 2px solid $color-orange;
				color: $color-orange;
			}

			.btn:hover {
				background-color: $color-orange;
				color: $color-earthborn-bugle;
			}
		}
	}
}