.mw-1200 {
	max-width: 1200px;
}

.section-title {
	font-weight: 600;
	letter-spacing: 1.5px;
}

.smt-64 {
	scroll-margin-top: 64px;
}

.fw-600 {
	font-weight: 600;
}

.color-java {
	background-color: #EA2D2E;;
}

.color-spring-boot {
	background-color: #6DB33F;
}

.color-react {
	background-color: #61DAFB;
}

.color-bootstrap {
	background-color: #59407F;
}

.color-javascript {
	background-color: #F0DB4F;
}

.color-c-sharp {
	background-color: #68217A;
}

.color-php {
	background-color: #6181B6;
}

.color-python {
	background-color: #FFD845;
}
