.mw-1200 {
	max-width: 1200px;
}

.section-title {
	font-weight: 600;
	letter-spacing: 1.5px;
}

.smt-64 {
	scroll-margin-top: 64px;
}

.fw-600 {
	font-weight: 600;
}

.fs-14 {
	font-size: 14px;
}

.color-android-studio {
	background-color: #3DDC84;
}

.color-bootstrap {
	background-color: #59407F;
}

.color-css {
	background-color: #3D8FC6;
}

.color-c-sharp {
	background-color: #68217A;
}

.color-docker {
	background-color: #2496ED;
}

.color-firebase {
	background-color: #FFCA28;
}

.color-hibernate {
	background-color: #59666C;
}

.color-html {
	background-color: #E54D26;
}

.color-java {
	background-color: #EA2D2E;;
}

.color-javascript {
	background-color: #F0DB4F;
}

.color-kotlin {
	background-color: #7F52FF;
}

.color-php {
	background-color: #6181B6;
}

.color-postgresql {
	background-color: #4169E1;
}

.color-python {
	background-color: #FFD845;
}

.color-react {
	background-color: #61DAFB;
}

.color-sass {
	background-color: #CC6699;
}

.color-spring-boot {
	background-color: #6DB33F;
}
