.books-and-authors {
	height: 64px;

	.network, .loading {
		height: 100vh;
		margin-top: -64px;
	}
	
	.mw-1200 {
		div {
			.card-container {
				width: 25%;

				.card {
					box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
					cursor: pointer;
					transition-duration: 0.4s;
				}

				.card:hover {
					transform: scale(1.05);
					transition-duration: 0.4s;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.books-and-authors {
		.mw-1200 {
			div {
				.card-container {
					width: 33.33%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.books-and-authors {
		.mw-1200 {
			div {
				.card-container {
					width: 50%;
				}
			}
		}
	}
}

@media screen and (max-width: 426px) {
	.books-and-authors {
		.mw-1200 {
			div {
				.card-container {
					width: 100%;
				}
			}
		}
	}
}
